<!DOCTYPE html>

{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free Sudoku Generator / {{ page_title }}</title>
        {% load bootstrap3 %}
        {% bootstrap_css %}
        <script src="https:{% bootstrap_jquery_url %}"></script>
        {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/sticky-footer.css" %}">
    <meta property="og:image" content="{% static "images/og_img.jpeg" %}" />
</head>
<body>

    {% include "topnavbar.html" %}

    <div class="container">
        {% block body_block %}
        {% endblock %}
    </div>

    {% include "footer.html" %}
</body>
</html>
