{% extends 'base.html' %}

{% block body_block %}
    <div class="row">
        <h3>Welcome to Sudoku generator web app!</h3>
        <p>This application generates unique sudoku of required complexity.</p>
        <p>It also have <a href="#">API</a> that you can use to generate even more sudoku.</p>
    </div>

    <div class="row">
        <h1>Sudoku generator</h1>
        <!-- generator will be here -->
        <div class="generator">
            <div class="col-sm-6">
                <div class="big_square_holder">
                    <div class="temp_big_square">
                        <!-- preview will be here -->
                        <div class="sudoku-row">
                            <button>3</button>
                            <button>1</button>
                            <button>4</button>
                            <button></button>
                            <button></button>
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button>1</button>
                        </div>
                        <div class="sudoku-row">
                            <button>1</button>
                            <button>7</button>
                            <button></button>
                            <button>5</button>
                            <button></button>
                            <button>1</button>
                            <button>6</button>
                            <button></button>
                            <button>9</button>
                        </div>
                        <div class="sudoku-row">
                            <button>1</button>
                            <button></button>
                            <button></button>
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button>8</button>
                            <button>1</button>
                            <button>1</button>
                        </div>
                        <div class="sudoku-row">
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button>1</button>
                            <button>4</button>
                            <button>1</button>
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                        </div>
                        <div class="sudoku-row">
                            <button>1</button>
                            <button>6</button>
                            <button></button>
                            <button>1</button>
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                        </div>
                        <div class="sudoku-row">
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button></button>
                        </div>
                        <div class="sudoku-row">
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button>1</button>
                        </div>
                        <div class="sudoku-row">
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button>1</button>
                            <button>1</button>
                            <button></button>
                        </div>
                        <div class="sudoku-row">
                            <button>1</button>
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button>1</button>
                            <button></button>
                            <button>1</button>
                            <button>1</button>
                            <button></button>
                        </div>
                    </div> <!--end temp_big_square-->
                    <div class="big_square_inputs">
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>4</button>
                        <button>5</button>
                        <button>6</button>
                        <button>7</button>
                        <button>8</button>
                        <button>9</button>
                    </div>
                </div> <!--end big_square_holder-->
                <div class="sudoku-btns">
                    <a class="btn btn-info" href="#">Download</a>
                    <a class="btn btn-info" href="#">Print</a>
                    <a class="btn btn-info" href="#">Solve online</a>
                </div>
            </div>
            <div class="col-sm-6">
                <form action="">
                    <label for="difficulty">Select difficulty:</label>
                    <select name="difficulty" id="difficulty">
                        <option value="0">Baby</option>
                        <option value="1">Easy</option>
                        <option value="2">Medium</option>
                        <option value="3">Hard</option>
                    </select>
                    <input class="btn btn-warning" type="submit" value="Generate Sudoku">

                    <p>This text appears after table generation: You can either download, print or solve sudoku on the site. Click the table on the left to go to sudoku page and solve it online.</p>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>Latest generated sudoku</h3>
        <!-- last 3 or 4 generated tables -->
        {% for board in last_boards %}
            <div class="col-sm-3">
            <div class="temp_square">
                {{ board.board_data }}
            </div>
            <p><a href="#" title="Click to solve it online">Sudoku {{board.id}}</a></p>
            <p>
                <a class="btn btn-default" href="#download/{{board.id}}">Download</a>
                <a class="btn btn-default" href="#print/{{board.id}}">Print</a>
                <a class="btn btn-default" href="#solve/{{board.id}}">Solve online</a>
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
