{% extends 'base.html' %}

{% block body_block %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Last 25 generated sudoku boards</h1>
            <p>Here you'll find last generated sudoku boards by our application.</p>
            <p>Enjoy!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>
            <div style="width:140px; height:140px; background-color:#cecece; margin:0 20px 20px 0; float:left;"> </div>

        </div>
    </div>
{% endblock %}
