{% extends 'base.html' %}

{% block body_block %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Sudoku generator API v.1.</h1>
            <p>Sudoku generator API will allow you to get your daily sudoku grid and even more.</p>
            <p>See for yourself!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Sudoku generator API v.1 details</h3>
            <ol class='api-list'>
                <li>
                    <h4>Generate new sudoku</h4>
                    <p>
                        <pre>{{base_url}}api/gen/</pre>
                        Request type: <b>POST</b> with <i class="pre">board_diffic='DIFFICULTY'</i>.
                    </p>
                    <p class="api_description">Generates a brand new sudoku grid with selected <b>DIFFICULTY</b>.</p>
                    <p>
                        <form action="{{base_url}}api/gen/" method="POST">
                            Try this example: <a href="#">{{base_url}}api/gen/ </a>
                            {%csrf_token%}
                            <input type="hidden" name="board_diffic" value="0">
                            <input type="submit" value="Generate easy board">
                        </form>
                    </p>
                    <p>
                        <b>DIFFICULTY</b> values:
                        <ul>
                            <li>0 - uber easy sudoku (baby)</li>
                            <li>1 - easy sudoku</li>
                            <li>2 - medium sudoku</li>
                            <li>3 - hard sudoku</li>
                        </ul>
                    </p>
                </li>
                <li>
                    <h4>Get last generated sudoku boards</h4>
                    <p>
                        <pre>{{base_url}}api/last/</pre>
                        Request type: <b>GET</b>
                    </p>
                    <p class="api_description">Returns 25 last generated sudoku grids.</p>
                    <p>Try this example: <a href="{{base_url}}api/last">{{base_url}}api/last</a></p>
                </li>
                <li>
                    <h4>Get sudoku board solution</h4>
                    <p>
                        <pre>{{base_url}}api/check?pk=SUDOKUBOARD_ID</pre>
                        Request type: <b>GET</b>
                    </p>
                    <p class="api_description">Takes sugoku board ID and returns sudoku board and the solution for it.</p>
                    <p>Try this example: <a href="{{base_url}}api/check?id=11">{{base_url}}api/check?id=BOARD_ID</a> (you'll need to replace BOARD_ID with existing one)</p>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
